@font-face {
	font-family: 'Nico Moji+ v2';
	src: url(../font/nicomoji-plus_v2/nicomoji-plus_v2.ttf);
}

.nicomoji-plus-v2 { 
    font-family: "Nico Moji+ v2"; 
}

.bg-pale-pink {
    background: #ffc0cb;
}

.text-pale-pink {
    color: #ffc0cb;
}

.bg-deep-green {
    background: #004220;
}

.text-deep-green {
    color: #004220;
}

.z-1000 {
    z-index: 1000;
}

.z-100 {
    z-index: 100;
}

.kiyo-neko-70 {
    width: 70px;
}

#loading {
    transition: all 1s;
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

/*　上に上がる動き　*/
header.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/*　下に下がる動き　*/
header.DownMove{
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.swiper-thumbnail .swiper-slide {
    opacity: 0.2;
    transition: opacity 0.5s;
}

/*アクティブなときのスタイル*/
.swiper-thumbnail .swiper-slide-thumb-active {
    opacity: 1;
}


