/*---------- use scss dont edit css----------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #000000;
  font-size: 100%;
  line-height: 1;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

button, input, textarea {
  border: none;
  background: none;
  -webkit-appearance: none;
}


html {
  width: 100%;
}

body {
  background: #fff;
  overflow-x: hidden;
}

/*
@media only screen and (min-width:1051px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width:1050px) {
  body {
    overflow-x: auto;
  }
}
*/
.main {
  padding: 63px 0 0;
}

.btn-brand {
  width: 100%;
  margin: 0 auto 0;
  background: #fff;
  padding: 40px 0 0;
}

.btn-brand a {
  width: 220px;
  display: block;
  border: solid 1px #004220;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto 0;
  background: #fff;
  font-size: 18px;
  color: #004220;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  text-align: center;
  padding: 17px 0;
  line-height: 1;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-brand a:after {
  width: 8px;
  height: 15px;
  content: "";
  background: url(../img/arrow.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
}

.btn-brand a:hover {
  color: #fff;
  background: #004220;
}

.btn-brand a:hover:after {
  background: url(../img/arrow2.png) no-repeat 0 0;
  background-size: 100%;
}

.icon-kyusu {
  width: 127px;
  position: absolute;
  top: -32px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
}

.products {
  width: 100%;
  background: url(/html/kiyo/img/kiyo-neko-hand.jpeg) no-repeat center 0;
  background-size: cover;
}

.products-movie {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  overflow: hidden;
}

.products-movie video {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.products-list {
  width: 1080px;
  margin: 80px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px;
  position: relative;
  z-index: 3;
}

.products-list li {
  width: 200px;
}

.products-list li a {
  display: block;
}

.products-list li a:hover .products-img {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
}

.products-box {
  width: 200px;
  margin: 0 auto 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-img {
  text-align: center;
  position: relative;
  z-index: 2;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.products-img img {
  position: relative;
  z-index: 2;
}

.products-img:before {
  display: none;
  width: 200%;
  height: 200%;
  content: "";
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.6), transparent);
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: -50%;
  right: 0;
  margin: auto;
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.products-text {
  position: absolute;
  top: -12px;
  left: 135px;
  z-index: 2;
}

.products-text2 {
  position: relative;
  z-index: 2;
}

.products-text2.is-products-text-koi {
  margin: 0 0 0 -20px;
}

.products-link {
  margin: 25px auto 0;
  text-align: center;
  position: relative;
}

.products .btn-products {
  margin: 12px auto 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.products .btn-products span {
  display: inline-block;
  position: relative;
}

.products .btn-products span:after {
  width: 8px;
  height: 15px;
  content: "";
  background: url(../img/arrow.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  margin: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.products-logo--tokusen {
  width: 120px;
  position: absolute;
  top: -150px;
  right: -110px;
}
