@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald");


.hero-scroll {
  width: 19px;
  position: absolute;
  top: 260px;
  right: 30px;
  z-index: 3;
}

.hero-scroll-line {
  width: 2px;
  height: 50px;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

.hero-scroll-line2 {
  width: 2px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #eee;
  -webkit-animation: 'pathmove' 3s ease-in-out infinite;
          animation: 'pathmove' 3s ease-in-out infinite;
  opacity: 0;
}

@-webkit-keyframes pathmove {
  0% {
    top: 0;
    height: 0;
    opacity: 0;
  }
  15% {
    top: 0;
    height: 50px;
    opacity: 0.8;
  }
  30% {
    top: 0;
    height: 50px;
    opacity: 0.8;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pathmove {
  0% {
    top: 0;
    height: 0;
    opacity: 0;
  }
  15% {
    top: 0;
    height: 50px;
    opacity: 0.8;
  }
  30% {
    top: 0;
    height: 50px;
    opacity: 0.8;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*
@keyframes pathmove{
  0%{
    height:0;
    top:100px;
    opacity: 0;
  }
  30%{
    height:70px;
    opacity: 1;
  }
  100%{
    height:0;
    top:120px;
    opacity: 0;
  }
}
*/



.info-box {
  width: 980px;
  margin: 30px auto 0;
  overflow: hidden;
  text-align: center;
}

.info-list {
  width: 2500px;
  margin: 0;
  text-align: left;
  letter-spacing: -.4em;
}

.info-list li {
  width: 468px;
  display: inline-block;
  letter-spacing: normal;
}

.info-list li:first-child {
  margin: 0;
}

.info-list li a {
  display: block;
  position: relative;
}

.info-list li a:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.info-list li a:hover:before {
  background: rgba(255, 255, 255, 0.3);
}

.info-nav-list {
  width: 100%;
  text-align: center;
  letter-spacing: -.4em;
  margin: 25px auto 0;
}

.info-nav-list li {
  width: 6px;
  height: 6px;
  display: inline-block;
  letter-spacing: normal;
  margin: 0 0 0 14px;
}

.info-nav-list li:first-child {
  margin: 0;
}

.info-nav-list li.is-active a {
  background: #004220;
}

.info-nav-list li a {
  width: 6px;
  height: 6px;
  display: block;
  background: #ccc;
  border-radius: 50px;
}

.intro {
  width: 100%;
  position: relative;
}

.intro-bg1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(/html/kiyo/img/kiyo-anan.jpg) no-repeat center 0;
  background-attachment: fixed;
  background-size: cover;
}

.intro-bg1.is-fixed {
  position: fixed;
}

.intro-bg2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url(/html/kiyo/img/kiyo-tokyo-dome-top4.jpeg) no-repeat center 0;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
}

.intro-bg2.is-fixed {
  position: fixed;
}

.intro-inr {
  width: 894px;
  margin: 0 auto 0;
  position: relative;
  padding: 80px 0 360px;
}

.intro-heading {
  text-align: left;
}

.intro-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro-box {
  width: 450px;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px 0 0;
}

.intro-box2 {
  width: 450px;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 300px 0 0 auto;
}

.intro-text {
  font-size: 16px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 600;
  color: #000;
  line-height: 1.6;
  text-align: left;
}

.intro-notes {
  font-size: 12px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  color: #000;
  line-height: 1.6;
  text-align: left;
  margin: cal_vw(20) 0 0;
  text-indent: -12px;
  padding-left: 10px;
}

.products-inr {
  background: url(../img/bg_cover.png) repeat-x center 0;
  position: relative;
  padding: 110px 0 140px;
}

.products-heading {
  text-align: center;
  position: relative;
  z-index: 3;
}

.products-heading-sub {
  font-size: 18px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  color: #004220;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto 0;
  position: relative;
  z-index: 3;
}

.products .btn-products-list {
  width: 220px;
  margin: 35px auto 0;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
          box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.products .btn-products-list a {
  display: block;
  padding: 17px 0;
  font-size: 18px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  color: #004220;
  line-height: 1.6;
  text-align: center;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.products .btn-products-list a:after {
  width: 8px;
  height: 15px;
  content: "";
  background: url(./2022/common/img/arrow.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 88%;
  margin: auto;
}

.products .btn-products-list a:hover {
  color: #fff;
  background: #004220;
}

.products .btn-products-list a:hover:after {
  background: url(./2022/common/img/arrow2.png) no-repeat 0 0;
  background-size: 100%;
}

.movie {
  width: 100%;
  background: url(../img/bg_cover.png) repeat-x center 0 #f4f7dd;
}

.movie-inr {
  width: 800px;
  margin: 0 auto 0;
  position: relative;
  padding: 110px 0 140px;
}

.movie-heading {
  text-align: center;
}

.movie-heading-sub {
  font-size: 18px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  color: #004220;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto 0;
}

.movie .btn-movie-list {
  width: 220px;
  margin: 35px auto 0;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
          box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
  overflow: hidden;
}

.movie .btn-movie-list a {
  display: block;
  padding: 17px 0;
  font-size: 18px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  color: #004220;
  line-height: 1.6;
  text-align: center;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.movie .btn-movie-list a:after {
  width: 8px;
  height: 15px;
  content: "";
  background: url(./2022/common/img/arrow.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 88%;
  margin: auto;
}

.movie .btn-movie-list a:hover {
  color: #fff;
  background: #004220;
}

.movie .btn-movie-list a:hover:after {
  background: url(./2022/common/img/arrow2.png) no-repeat 0 0;
  background-size: 100%;
}

.movie-list {
  width: 800px;
  margin: 0 auto 0;
}

.movie-list li {
  margin: 60px auto 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
          box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
}

.movie-list li a {
  display: block;
}

.movie-dl dt {
  position: relative;
}

.movie-dl dd {
  font-size: 18px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  color: #004220;
  line-height: 1.6;
  text-align: center;
  padding: 25px;
}

.movie-cover {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.movie-cover:before {
  width: 80px;
  height: 80px;
  content: "";
  background: url(./2022/common/img/icon_play.png) no-repeat center 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.movie-frame iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.about {
  width: 100%;
  height: 222px;
  background: url(../img/about_bg.jpg) no-repeat center 0;
  background-size: cover;
}

.about-inr {
  max-width: 940px;
  margin: 0 auto 0;
  position: relative;
  padding: 15px 0 0;
}

.about-heading {
  text-align: center;
}

.about-list {
  width: 540px;
  margin: 15px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-list li {
  margin: 0 0 0 auto;
}

.about-list li:first-child {
  margin: 0;
}

.about .btn-about {
  width: 250px;
  margin: 0px auto 0;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
          box-shadow: 0px 0px 14px -4px rgba(0, 66, 32, 0.4);
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about .btn-about a {
  display: block;
  padding: 17px 0;
  font-size: 18px;
  font-family: "Yu Gothic", YuGothic;
  font-weight: 300;
  color: #004220;
  line-height: 1.6;
  text-align: center;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.about .btn-about a:after {
  width: 8px;
  height: 15px;
  content: "";
  background: url(./2022/common/img/arrow.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 88%;
  margin: auto;
}

.about .btn-about a:hover {
  color: #fff;
  background: #004220;
}

.about .btn-about a:hover:after {
  background: url(./2022/common/img/arrow2.png) no-repeat 0 0;
  background-size: 100%;
}

.about .btn-about a {
  font-size: 18px;
}

.btn-cafe {
  width: 100%;
  padding: 40px 0 0;
  background: #fff;
}

.btn-cafe a {
  width: 420px;
  margin: 0 auto 0;
  display: block;
  position: relative;
}

.btn-cafe a:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-cafe a:hover:before {
  background: rgba(255, 255, 255, 0.3);
}

/*
.swiper-wrapper{
  justify-content: center;
}
*/
